body {
  background-color: palegoldenrod;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, ans-serifs;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
  color: red;
}

a {
  color: white;
}

header a {
  color: yellow;
}

main ol li {
  color: blue;
}

#main-title {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 500;
}

.big-and-bold {
  font-size: 30px;
  font-weight: 700;
  color: gray;
}

.title {
  font-size: 78px;
  letter-spacing: 2px;
  font-weight: 100;
}
